extends ./layout/index

block slider 
  .slider 
    h1 Rio de Janeiro 
    em aventura

block contenido 
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros 
    .row.mb-5 
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue tortor at nisi mattis, non tincidunt nulla mollis. Nullam sed tortor vitae purus feugiat euismod. Integer consectetur arcu vel turpis tincidunt porttitor. Integer hendrerit vulputate enim a tempor. Nulla volutpat ex eu nisl vulputate, dapibus auctor lacus blandit. Maecenas id tellus sit amet risus mollis semper. Donec rutrum blandit dictum. 

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue tortor at nisi mattis, non tincidunt nulla mollis. Nullam sed tortor vitae purus feugiat euismod. Integer consectetur arcu vel turpis tincidunt porttitor. Integer hendrerit vulputate enim a tempor. Nulla volutpat ex eu nisl vulputate, dapibus auctor lacus blandit. Maecenas id tellus sit amet risus mollis semper. Donec rutrum blandit dictum. 
      .col-md-6 
        img(src="img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
